


.mat-divider {
    position: relative !important;
    padding-top: 3%;
}


.card-picture-search {
    box-shadow: 3px 3px 20px 13px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12) !important;
    max-width: 16.1%;
    padding-bottom: 0 !important;
    margin: 2%;
}
