
<div class="movie-container">

  <mat-card-title> Showing {{movieList.length}} result for movies: </mat-card-title>

  <mat-divider></mat-divider>

  <div fxLayout="row wrap" fxLayoutAlign="start">
    <mat-card id="{{movie.id}}" (click)="ViewMoviePage(movie)"
              fxFlex="calc(16.6% - 1%)"
              fxFlex.lt-md="40%"
              fxFlex.lt-sm="40%" class="card-picture-search" *ngFor="let movie of movieList">
      <img mat-card-image [src]="imageDir + '/' + movie.img">

      <div id="{{movie.id}}-overlay"  class="overlay-movie secondary-text">
        {{movie.description.substring(0, 200)}} ...
      </div>
    </mat-card>


  </div>

</div>
