
.mat-toolbar {
    z-index: 10000;
    position: fixed;
    font-family: 'Raleway', sans-serif !important;
    font-weight: 300;
    background-color: #F57C00;

}

.app-search{
    float: right;
    display: inline-block;
}


