<div fxLayout="row wrap" fxLayoutAlign="space-around start">
    <div class="card-body" fxFlex="calc(12.6%)"
         fxFlex.lt-md="23%"
         fxFlex.lt-sm="23%"  *ngFor="let movie of movieList" >

            <mat-card id="{{movie.id}}" (click)="ViewMoviePage(movie)"
                      class="card-picture">
                    <img mat-card-image [src]="imageDir + '/' + movie.img">


                <button class="rate-number" mat-mini-fab color="primary">{{movie.rate}}</button>

                <div id="{{movie.id}}-overlay"  class="overlay-movie secondary-text">
                        {{movie.description.substring(0, 200)}} ...

                </div>
            </mat-card>

            <div class="card-title">
                <div class="movie-name primary-text" >{{movie.name}}</div>
                <div class="genre-list secondary-text"><span *ngFor="let genre of movie.genres">{{genre}}, </span></div>

            </div>

    </div>


</div>