




.card-title {
    padding-top: 10%;
    font-weight: 300;
}



.app-gallery .rate-number, .mat-mini-fab {
    position: absolute;
    top: 50%;
    left: 86%;

}



.mat-card-image {
    border-radius: 3px;
    margin-bottom: 0%;
}


