<div style="height: 20%;background-color: black"></div>
<div fxLayout="row wrap" fxLayoutGap="0.5%" fxLayoutAlign="space-between">
    <mat-card id="{{movie.id}}"
              fxFlex="calc(16.6% - 0.5%)"
              fxFlex.lt-md="19.8%"
              fxFlex.lt-sm="19.8%" class="card-picture" *ngFor="let movie of movieList">
        <mat-card-title fxLayout="column">
            <img mat-card-image [src]="imageDir + '/' + movie.img">

        </mat-card-title>

        <div id="{{movie.id}}-overlay"  class="overlay-movie">
            <div>
                The tooltips are pulling in the
                text from their trigger element's title attribute and that seems to be
                the problem. If the content is hard-coded, the text wraps just fine.

            </div>
        </div>
    </mat-card>


</div>